@model IEnumerable<WebFinalRamm.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuario</h1>

<p>
    <a asp-action="Create"><i class="fa fa-plus-circle"></i> Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Usuario
            </th>
            <th>
                Nombre Completo
            </th>
            <th>
                Usuario de Registro
            </th>
            <th>
                Fecha de Registro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i> Editar</a> ||
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle"></i> Detalles</a> ||
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-alt"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
